// Include important configurations
include "input.kdl"
include "layout.kdl"
include "animations.kdl"
include "window_rules.kdl"
include "bindings.kdl"

// Startup applications
spawn-sh-at-startup "waybar --config .config/waybar/config.jsonc"
spawn-sh-at-startup "wl-paste --watch cliphist store"
spawn-at-startup "mako"

// Ship the hotkey overlay
hotkey-overlay {
    skip-at-startup
}

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
