/*
 * Heavily based on this wondeful stylesheet ->
 * https://github.com/OriginCode/dotfiles/blob/0093b62068c36f1ca89deb1514b6b2e0c6c3b1a9/waybar/.config/waybar/style.css
 */
* {
    font-size: 14px;
    border-radius: 4px;
}

window#waybar {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, monospace;
    background-color: transparent;
    border-bottom: 0px;
    color: #ebdbb2;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.empty #window {
    background-color: transparent;
}

/*
 w *indow#waybar.empty {
 background-color: transparent;
 }
 window#waybar.solo {
 background-color: #FFFFFF;
 }
 */

.modules-right {
    margin: 10px 10px 0 0;
}
.modules-center {
    margin: 10px 0 0 0;
}
.modules-left {
    margin: 10px 0 0 10px;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    /* box-shadow: inset 0 -3px transparent; */
    border: none;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
/*
 b *utton:hover {
 background: inherit;
 box-shadow: inset 0 -3px #ebdbb2;
 } */

#workspaces {
    background-color: #282828;
}

#workspaces button {
    padding: 0 10px;
    background-color: transparent;
    color: #ebdbb2;
}

#workspaces button:first-child {
    border-radius: 5px 0 0 5px;
}

#workspaces button:last-child {
    border-radius: 0 5px 5px 0;
}

#workspaces button:hover {
    color: #d79921;
}

#workspaces button.focused {
    background-color: #665c54;
    /* box-shadow: inset 0 -3px #ffffff; */
}

#workspaces button.urgent {
    background-color: #b16286;
}

/* Apply global basic styling */
#idle_inhibitor,
#custom-updater,
#custom-clipboard,
#custom-clipboardwipe,
#scratchpad,
#mode,
#cpu,
#memory,
#temperature,
#network,
#window,
#clock,
#battery,
#backlight,
#wireplumber,
#tray,
#custom-power,
#custom-exit,
#custom-reboot,
#custom-lock,
#mpris,
#load {
    padding: 0 10px;
    background-color: #282828;
    color: #ebdbb2;
}

/* Apply global hover styling */
#idle_inhibitor:hover,
#custom-updater:hover,
#custom-clipboard:hover,
#custom-clipboardwipe:hover,
#mpris:hover,
#scratchpad:hover,
#mode:hover,
#cpu:hover,
#memory:hover,
#temperature:hover,
#network:hover,
#window:hover,
#clock:hover,
#battery:hover,
#backlight:hover,
#wireplumber:hover,
#custom-power:hover,
#custom-exit:hover,
#custom-reboot:hover,
#custom-lock:hover,
#mpris:hover,
#mpris.playing:hover,
#load:hover {
    color: #1d2021;
    background: #ebdbb2;
}

/* Basic module styling */
#mode {
    background-color: #689d6a;
    color: #282828;
    /* box-shadow: inset 0 -3px #ffffff; */
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

/* Clipboard Styling */
#custom-clipboard {
    padding-right: 14px;
    padding-left: 12px;
    margin-left: 2px;
}

#custom-clipboardwipe {
    margin-left: 2px;
    margin-right: 2px;
}

#custom-clipboardwipe:hover {
    color: #FF0F0F;
}

/* Power Button Styling */
#custom-power {
    padding-right: 16px;
    padding-left: 12px;
    margin-left: 2px;
}

#custom-exit,
#custom-reboot,
#custom-lock {
    margin-left: 2px;
    margin-right: 2px;
}

#custom-power:hover,
#custom-exit:hover,
#custom-reboot:hover,
#custom-lock:hover {
    color: #FF0F0F;
}

/* Updates Styling */
#custom-updater {
    background: #d79921;
    color: #282828;
}

/* Battery Styling */
#battery.charging, #battery.plugged {
    background-color: #98971a;
    color: #282828;
}

@keyframes blink {
    to {
        background-color: #282828;
        color: #ebdbb2;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #cc241d;
    color: #ebdbb2;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

/* Wireplumber Styling */
#wireplumber.muted {
    background-color: #458588;
}

/* Tray Styling */
#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

#tray menu {
font-family: sans-serif;
}

/* Mpris Styling */
#mpris.playing {
    background-color: #d79921;
    color: #282828;
}

/* Taskbar Styling */
.niri-taskbar {
    padding: 0 6px;
    background-color: #282828;
    color: #ebdbb2;
}

.niri-taskbar button:hover {
    background: #d79921;
}

.niri-taskbar button.focused {
    background: #ebdbb2;
}

/* Temperature Styling */
#temperature.warning {
    color: #ECE81A;
}

#temperature.critical {
    color: #FF0F0F;
}

/* Network Styling */
#network.disconnected {
    color: #FF0F0F;
}
